# Maven/Java standard ignores
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.springBeans
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
.file_activity_report.json
